* {
  font-weight: normal;
  font-size: 20px;
  color: #000000;
  
}
div {
  background-color: #90ee90;
}
button {
  color: initial;
  background-color: inherit;
}
textarea {
  background-color: inherit;
}

